!!!
%html
  %head
    %title Spectical
    = stylesheet_link_tag "users", media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag "users"

    = csrf_meta_tags
  %body
    .container
      = yield